.canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}
canvas{
    border: 2px solid red;
}
.collapse{
    background: none;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid red;
    cursor: pointer;
    font-weight: 600;
}